In [39]:
import numpy as np
import pandas as pd
current_data=pd.read_csv("current.csv")
history_data=pd.read_csv("history.csv")

In [40]:
current_data.head()

,Quiz ID,Quiz Title,Quiz Topic,Total Questions,Correct Answer Marks,Negative Marks,Duration (minutes),Created At,User ID,Submitted At,...,Incorrect Answers,Response Map,Started At,Ended At,Question ID,Question Description,Selected Option ID,Is Correct,Topic,Difficulty Level
0,43.0,Structural Organisation in Animals and Plants (7),Structural Organisation in Animals,128.0,4.0,1.0,128.0,2024-07-03T11:00:08.958+05:30,7ZXdz3zHuNcdg9agb5YpaOGLQqw2,2025-01-17T15:51:29.859+05:30,...,2.0,"{'1837': 7363, '1848': 7407, '1852': 7423, '18...",2025-01-17T16:20:44.000+05:30,2025-01-17T16:21:28.000+05:30,1827,The tissue which has free surface that faces e...,NaN,False,structural organisation in animals,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1828,Epithelial tissue is distinguished from connec...,NaN,False,structural organisation in animals,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1829,The ciliated columnar epithelial cells in huma...,NaN,False,structural organisation in animals,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1830,The squamous epithelium is found in,NaN,False,structural organisation in animals,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1831,The kind of epithelium which forms the inner w...,NaN,False,structural organisation in animals,NaN

In [41]:
history_data.head(5)

,Record ID,Quiz ID,User ID,Submitted At,Created At,Updated At,Score,Accuracy,Speed,Final Score,...,Mistakes Corrected,Initial Mistake Count,Response Map,Quiz Title,Quiz Topic,Quiz Duration,Quiz Negative Marks,Quiz Correct Answer Marks,Quiz Created At,Quiz Updated At
0,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:30:18.027+05:30,2025-01-17T15:30:18.044+05:30,2025-01-17T15:30:18.044+05:30,108,90 %,100,105.0,...,9,12,"{""2523"": 10109, ""2529"": 10130, ""2533"": 10149, ...",Human Physiology (15),Body Fluids and Circulation,100,1.0,4.0,2024-07-12T11:17:37.658+05:30,2024-09-23T18:43:27.373+05:30
1,336448,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:17:44.042+05:30,2025-01-17T15:17:44.056+05:30,2025-01-17T15:17:44.056+05:30,92,100 %,100,92.0,...,3,3,"{""48"": 192, ""49"": 197, ""50"": 199, ""51"": 203, ""...",Human Physiology PYQ,Body Fluids and Circulation,23,1.0,4.0,2024-04-26T15:26:29.886+05:30,2024-06-05T18:27:32.163+05:30
2,333330,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-16T20:13:19.682+05:30,2025-01-16T20:13:19.699+05:30,2025-01-16T20:13:19.699+05:30,116,96 %,100,115.0,...,11,12,"{""2523"": 10109, ""2525"": 10117, ""2528"": 10127, ...",Human Physiology (15),Body Fluids and Circulation,100,1.0,4.0,2024-07-12T11:17:37.658+05:30,2024-09-23T18:43:27.373+05:30
3,333242,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-16T20:00:11.562+05:30,2025-01-16T20:00:11.573+05:30,2025-01-16T20:00:11.573+05:30,36,90 %,100,35.0,...,1,2,"{""49"": 197, ""52"": 208, ""53"": 212, ""54"": 217, ""...",Human Physiology PYQ,Body Fluids and Circulation,23,1.0,4.0,2024-04-26T15:26:29.886+05:30,2024-06-05T18:27:32.163+05:30
4,329504,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-15T20:34:39.462+05:30,2025-01-15T20:34:39.478+05:30,2025-01-15T20:34:39.478+05:30,36,31 %,96,16.0,...,0,20,"{""2521"": 10099, ""2523"": 10107, ""2532"": 10145, ...",Human Physiology (15),Body Fluids and Circulation,100,1.0,4.0,2024-07-12T11:17:37.658+05:30,2024-09-23T18:43:27.373+05:30

In [4]:
history_data.rename(columns={"Quiz Topic" : "Topic"},inplace=True)

In [91]:
current_data

Empty DataFrame
Columns: [Quiz ID, Quiz Title, Quiz Topic, Total Questions, Correct Answer Marks, Negative Marks, Duration (minutes), Created At, User ID, Submitted At, Score, Accuracy, Correct Answers, Incorrect Answers, Response Map, Started At, Ended At, Question ID, Question Description, Selected Option ID, Is Correct, Topic, Difficulty Level, Topic_index]
Index: []

[0 rows x 24 columns]

In [92]:
history_data.describe()

,Record ID,Score,Accuracy,Speed,Final Score,Negative Score,Correct Answers,Incorrect Answers,Better Than,Total Questions,Mistakes Corrected,Initial Mistake Count,Quiz Duration,Quiz Negative Marks,Quiz Correct Answer Marks,Topic_index
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.0,23.0,23.000000
mean,313178.000000,61.565217,0.720435,95.434783,56.000000,5.565217,15.391304,5.565217,152.478261,58.521739,3.304348,8.869565,58.521739,1.0,4.0,3.130435
std,40402.375523,36.971520,0.274168,7.191068,40.311289,6.570084,9.242880,6.570084,123.046876,35.059520,4.655737,6.151898,35.059520,0.0,0.0,3.279473
min,195808.000000,12.000000,0.300000,78.000000,5.000000,0.000000,3.000000,0.000000,18.000000,20.000000,0.000000,0.000000,20.000000,1.0,4.0,0.000000
25%,318047.500000,36.000000,0.465000,92.500000,22.500000,1.000000,9.000000,1.000000,39.000000,23.000000,0.000000,3.000000,23.000000,1.0,4.0,0.500000
50%,328414.000000,40.000000,0.900000,100.000000,35.000000,3.000000,10.000000,3.000000,115.000000,55.000000,0.000000,9.000000,55.000000,1.0,4.0,1.000000
75%,333286.000000,100.000000,0.945000,100.000000,98.500000,8.000000,25.000000,8.000000,223.500000,100.000000,6.500000,13.000000,100.000000,1.0,4.0,6.000000
max,336497.000000,116.000000,1.000000,100.000000,115.000000,20.000000,29.000000,20.000000,395.000000,100.000000,12.000000,20.000000,100.000000,1.0,4.0,10.000000

In [44]:
current_data.describe()

,Quiz ID,Total Questions,Correct Answer Marks,Negative Marks,Duration (minutes),Score,Correct Answers,Incorrect Answers,Question ID,Selected Option ID,Difficulty Level
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,128.000000,10.000000,0.0
mean,43.0,128.0,4.0,1.0,128.0,32.0,8.0,2.0,1895.968750,7563.500000,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.480844,164.851617,NaN
min,43.0,128.0,4.0,1.0,128.0,32.0,8.0,2.0,1827.000000,7363.000000,NaN
25%,43.0,128.0,4.0,1.0,128.0,32.0,8.0,2.0,1858.750000,7433.250000,NaN
50%,43.0,128.0,4.0,1.0,128.0,32.0,8.0,2.0,1900.500000,7527.000000,NaN
75%,43.0,128.0,4.0,1.0,128.0,32.0,8.0,2.0,1932.250000,7668.000000,NaN
max,43.0,128.0,4.0,1.0,128.0,32.0,8.0,2.0,1964.000000,7872.000000,NaN

In [45]:
current_data.isna()

,Quiz ID,Quiz Title,Quiz Topic,Total Questions,Correct Answer Marks,Negative Marks,Duration (minutes),Created At,User ID,Submitted At,...,Incorrect Answers,Response Map,Started At,Ended At,Question ID,Question Description,Selected Option ID,Is Correct,Topic,Difficulty Level
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
124,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
125,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
126,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,False,False,True
127,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,False,False,True

In [16]:
def preprocess_data(df):
    # Strip and lower string columns where applicable
    if "User ID" in df.columns:
        df["User ID"] = df["User ID"].fillna('').astype(str).str.strip().str.lower()
    
    if "Quiz Topic" in df.columns:
        df["Quiz Topic"] = df["Quiz Topic"].fillna('').astype(str).str.strip().str.lower()
    
    if "Quiz Title" in df.columns:
        df["Quiz Title"] = df["Quiz Title"].fillna('').astype(str).str.strip().str.lower()
    
    # Handle percentage strings in specific columns
    if "Score" in df.columns:
        df["Score"] = df["Score"].replace('%', '', regex=True).astype(float)
    
    if "Accuracy" in df.columns:
        df["Accuracy"] = df["Accuracy"].replace('%', '', regex=True).astype(float)
    
    # Convert duration from string (e.g., '15:00') to numeric minutes
    if "Duration" in df.columns:
        df["Duration"] = df["Duration"].apply(lambda x: int(x.split(':')[0]) * 60 + int(x.split(':')[1]) if isinstance(x, str) else x)

    return df

# Preprocess both datasets
history_data = preprocess_data(history_data)
current_data = preprocess_data(current_data)

In [17]:
# Example feature engineering: historical performance metrics
if "Score" in history_data.columns:
    average_score = history_data["Score"].mean()
    print(f"Average Historical Score: {average_score}")

if "Accuracy" in history_data.columns:
    average_accuracy = history_data["Accuracy"].mean()
    print(f"Average Historical Accuracy: {average_accuracy}")

Average Historical Score: 0.6028571428571429
Average Historical Accuracy: 0.7221428571428571

In [18]:
# Example: Merge datasets on User ID
if "User ID" in history_data.columns and "User ID" in current_data.columns:
    merged_data = pd.merge(current_data, history_data, on="User ID", suffixes=("_current", "_history"), how="left")

# Example: Add comparison column for score
if "Score_current" in merged_data.columns and "Score_history" in merged_data.columns:
    merged_data["Score Improvement"] = merged_data["Score_current"] - merged_data["Score_history"]

# Display the merged data
print(merged_data.head())

  Quiz ID_current                                 Quiz Title_current  \
0            43.0  structural organisation in animals and plants (7)
1
2
3
4

                   Quiz Topic_current  Total Questions_current  \
0  structural organisation in animals                    128.0
1                                                          NaN
2                                                          NaN
3                                                          NaN
4                                                          NaN

   Correct Answer Marks  Negative Marks  Duration (minutes)  \
0                   4.0             1.0               128.0
1                   NaN             NaN                 NaN
2                   NaN             NaN                 NaN
3                   NaN             NaN                 NaN
4                   NaN             NaN                 NaN

              Created At_current                       User ID  \
0  2024-07-03T11:00:08.958+05:30  7zxdz3zhuncdg9agb5ypaoglqqw2
1                            NaN
2                            NaN
3                            NaN
4                            NaN

            Submitted At_current  ...  Initial Mistake Count  \
0  2025-01-17T15:51:29.859+05:30  ...                    NaN
1                            NaN  ...                    NaN
2                            NaN  ...                    NaN
3                            NaN  ...                    NaN
4                            NaN  ...                    NaN

   Response Map_history  Quiz Title_history  Quiz Topic_history Quiz Duration  \
0                   NaN                 NaN                 NaN           NaN
1                   NaN                 NaN                 NaN           NaN
2                   NaN                 NaN                 NaN           NaN
3                   NaN                 NaN                 NaN           NaN
4                   NaN                 NaN                 NaN           NaN

  Quiz Negative Marks Quiz Correct Answer Marks  Quiz Created At  \
0                 NaN                       NaN              NaN
1                 NaN                       NaN              NaN
2                 NaN                       NaN              NaN
3                 NaN                       NaN              NaN
4                 NaN                       NaN              NaN

  Quiz Updated At  Score Improvement
0             NaN                NaN
1             NaN                NaN
2             NaN                NaN
3             NaN                NaN
4             NaN                NaN

[5 rows x 54 columns]

In [19]:
print("History Data Columns:", history_data.columns)
print("Current Data Columns:", current_data.columns)

History Data Columns: Index(['Record ID', 'Quiz ID', 'User ID', 'Submitted At', 'Created At',
       'Updated At', 'Score', 'Accuracy', 'Speed', 'Final Score',
       'Negative Score', 'Correct Answers', 'Incorrect Answers', 'Source',
       'Quiz Type', 'Started At', 'Ended At', 'Duration', 'Better Than',
       'Total Questions', 'Rank Text', 'Mistakes Corrected',
       'Initial Mistake Count', 'Response Map', 'Quiz Title', 'Quiz Topic',
       'Quiz Duration', 'Quiz Negative Marks', 'Quiz Correct Answer Marks',
       'Quiz Created At', 'Quiz Updated At'],
      dtype='object')
Current Data Columns: Index(['Quiz ID', 'Quiz Title', 'Quiz Topic', 'Total Questions',
       'Correct Answer Marks', 'Negative Marks', 'Duration (minutes)',
       'Created At', 'User ID', 'Submitted At', 'Score', 'Accuracy',
       'Correct Answers', 'Incorrect Answers', 'Response Map', 'Started At',
       'Ended At', 'Question ID', 'Question Description', 'Selected Option ID',
       'Is Correct', 'Topic', 'Difficulty Level'],
      dtype='object')

In [90]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

# Function to preprocess the data
def preprocess_data(df):
    # Strip whitespaces and convert IDs to lowercase (convert to string first)
    df["Quiz ID"] = df["Quiz ID"].astype(str).str.strip().str.lower()
    df["User ID"] = df["User ID"].astype(str).str.strip().str.lower()
    
    # Ensure 'Topic' column exists and is cleaned (convert to lowercase)
    if 'Quiz Topic' in df.columns:
        df["Topic"] = df["Quiz Topic"].astype(str).str.strip().str.lower()
    elif 'Topic' in df.columns:
        df["Topic"] = df["Topic"].astype(str).str.strip().str.lower()
    
    # Split topics if they are concatenated (assuming topics are separated by 'and' or similar)
    df["Topic"] = df["Topic"].apply(lambda x: x.split('and'))  # Split by 'and' if that's the delimiter
    
    # Flatten the lists (in case there are multiple topics for each row)
    df = df.explode("Topic").reset_index(drop=True)
    
    # Remove duplicates and create an index for each unique topic
    unique_topics = df["Topic"].unique()
    topic_mapping = {topic: idx for idx, topic in enumerate(unique_topics)}
    
    # Replace 'Topic' values with their corresponding indices
    df["Topic_index"] = df["Topic"].map(topic_mapping)
    
    # Create a separate mapping for index to topic
    index_to_topic = {v: k for k, v in topic_mapping.items()}
    
    # Convert percentage columns (Score, Accuracy) to numeric by removing '%'
    def convert_percentage_to_numeric(val):
        if isinstance(val, str) and '%' in val:
            return float(val.replace('%', '')) / 100
        return pd.to_numeric(val, errors='coerce')  # Convert to numeric safely
    
    # Apply the function to 'Score' and 'Accuracy' columns
    if 'Score' in df.columns:
        df['Score'] = df['Score'].apply(convert_percentage_to_numeric)
    if 'Accuracy' in df.columns:
        df['Accuracy'] = df['Accuracy'].apply(convert_percentage_to_numeric)
    
    # Ensure 'Score' and 'Accuracy' are numeric
    df['Score'] = pd.to_numeric(df['Score'], errors='coerce')
    df['Accuracy'] = pd.to_numeric(df['Accuracy'], errors='coerce')
    
    # Drop rows where 'Score' or 'Accuracy' is NaN after conversion
    df = df.dropna(subset=['Score', 'Accuracy'])
    
    return df, index_to_topic

# Load datasets
history_path = "history.csv"  # Path to history.csv
current_path = "current.csv"  # Path to current.csv

history_data = pd.read_csv(history_path)
current_data = pd.read_csv(current_path)

# Apply preprocessing
history_data, history_index_to_topic = preprocess_data(history_data)
current_data, current_index_to_topic = preprocess_data(current_data)

# Combine the two mappings (if you want them to be the same across datasets)
index_to_topic = {**history_index_to_topic, **current_index_to_topic}

# Step 3: Remove NaN values from both datasets
history_data = history_data.dropna()
current_data = current_data.dropna()

# Step 4: Feature Engineering
# Historical performance metrics
history_performance = (
    history_data.groupby("Topic_index")
    .agg({"Score": "mean", "Accuracy": "mean"})
    .reset_index()
)

# Current performance metrics
current_performance = (
    current_data.groupby("Topic_index")
    .agg({"Correct Answers": "sum", "Total Questions": "sum"})
    .reset_index()
)
current_performance["Accuracy"] = (
    current_performance["Correct Answers"] / current_performance["Total Questions"]
)

# Combine historical and current data
performance_data = pd.merge(
    history_performance, current_performance, on="Topic_index", how="outer", suffixes=("_history", "_current")
)

# Step 5: Normalize the data
scaler = StandardScaler()
performance_data_scaled = scaler.fit_transform(
    performance_data[["Score", "Accuracy_history", "Accuracy_current", "Topic_index"]]
)

# Step 6: Impute NaN values (if any) after scaling
imputer = SimpleImputer(strategy="mean")
performance_data_scaled = imputer.fit_transform(performance_data_scaled)

# Apply K-Means Clustering
kmeans = KMeans(n_clusters=3, random_state=42)
performance_data["Cluster"] = kmeans.fit_predict(performance_data_scaled)

# Step 7: Weakness and Strength Analysis
# Weaknesses: Low accuracy and scores
weak_topics = performance_data[(
    performance_data["Accuracy_current"] < 0.5) | (performance_data["Score"] < 0.5)
]["Topic_index"].tolist()

# Strengths: High accuracy and scores
strong_topics = performance_data[(
    performance_data["Accuracy_current"] > 0.8) & (performance_data["Score"] > 0.8)
]["Topic_index"].tolist()

# Step 8: Recommendations
def recommend_topics(cluster_data, weakness_list):
    recommendations = cluster_data[cluster_data["Topic_index"].isin(weakness_list)]
    return recommendations[["Topic_index", "Accuracy_current"]]

recommendation_list = recommend_topics(performance_data, weak_topics)

# Step 9: Visualization
# Radar chart for performance
def plot_radar_chart(data, student_id):
    categories = ["Score", "Accuracy_history", "Accuracy_current"]
    values = data.mean()[categories].tolist()
    values += values[:1]  # Repeat the first value to close the radar chart

C:\Users\dell\miniconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [88]:
import pandas as pd

# Sample data
data = {
    'Topic': [
        'Body Fluids and Circulation', 
        'Human Health and Disease', 
        'Human Reproduction', 
        'Microbes in Human Welfare', 
        'Reproductive Health', 
        'Respiration and Gas Exchange'
    ],
    'Accuracy': [
        0.45,  # Low accuracy
        0.38,  # Low accuracy
        0.72,  # Moderate accuracy
        0.83,  # High accuracy
        0.55,  # Moderate accuracy
        0.91   # Excellent accuracy
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Create index to topic mapping
index_to_topic = {idx: topic for idx, topic in enumerate(df['Topic'])}

# Function to generate recommendations based on accuracy
def generate_recommendations(df):
    weak_topics = []
    strong_topics = []
    recommendations = []
    
    for index, row in df.iterrows():
        topic = row['Topic']
        accuracy = row['Accuracy']
        
        if accuracy < 0.5:
            weak_topics.append(index)
            recommendation = f"{topic}: Needs improvement. Consider revisiting key concepts for better understanding."
        elif 0.75 <= accuracy < 0.9:
            strong_topics.append(index)
            recommendation = f"{topic}: Decent performance. Strengthen understanding by reviewing key concepts for better results."
        elif accuracy >= 0.9:
            strong_topics.append(index)
            recommendation = f"{topic}: Excellent performance. Continue exploring advanced topics for deeper insights."
        else:
            recommendation = f"{topic}: Struggling with this topic. Review foundational concepts to increase retention."
        
        recommendations.append(recommendation)
    
    return weak_topics, strong_topics, recommendations

# Generate recommendations
weak_topics, strong_topics, recommendations = generate_recommendations(df)

# Print the weak and strong topics and recommendations in the required format
print("Weak Topics:", [index_to_topic[idx] for idx in weak_topics])
print("Strong Topics:", [index_to_topic[idx] for idx in strong_topics])
print("\nRecommendations for Improvement:")
for rec in recommendations:
    print(rec)

Weak Topics: ['Body Fluids and Circulation', 'Human Health and Disease']
Strong Topics: ['Microbes in Human Welfare', 'Respiration and Gas Exchange']

Recommendations for Improvement:
Body Fluids and Circulation: Needs improvement. Consider revisiting key concepts for better understanding.
Human Health and Disease: Needs improvement. Consider revisiting key concepts for better understanding.
Human Reproduction: Struggling with this topic. Review foundational concepts to increase retention.
Microbes in Human Welfare: Decent performance. Strengthen understanding by reviewing key concepts for better results.
Reproductive Health: Struggling with this topic. Review foundational concepts to increase retention.
Respiration and Gas Exchange: Excellent performance. Continue exploring advanced topics for deeper insights.